---
import RootLayout from '../layouts/RootLayout.astro';
import AppProperLayout from '../layouts/AppProperLayout.astro';

---

<RootLayout title="Time Since">
	<AppProperLayout>	
		<main class="bg-red-400 min-h-screen">
	</main>
</AppProperLayout>

</RootLayout>


