---
import RootLayout from "@layouts/RootLayout.astro";
import Sidebar from "@components/sidebar";
import EventsList from "@features/events-list";
---

<RootLayout title='View Entries'>
  <main class='min-h-screen flex'>
    <Sidebar />
    <section class='w-full grid place-content-center gap-8'>
      <h1 class='text-3xl tracking-wider uppercase font-bold text-center'>
        View Events
      </h1>
      <EventsList client:load />
    </section>
  </main>
</RootLayout>
