---
import RootLayout from "@layouts/RootLayout.astro";
import Sidebar from "@components/sidebar";
import EventsList from "@features/events-list";
---

<RootLayout title='View Entries'>
  <main class='min-h-screen flex'>
    <Sidebar />
    <section class='w-full gap-8 py-4 px-8 flex flex-col'>
      <h1 class='text-3xl tracking-wider uppercase font-bold text-center'>
        View Events
      </h1>
      <div class='w-full max-h-min'>
        <EventsList client:load />
      </div>
    </section>
  </main>
</RootLayout>
